@import "tailwindcss";

body {
  margin: 0;
  background-color: #f3f4f6;
}

.action-btn {
  @apply transition-all duration-200;
}

.action-btn:hover {
  transform: translateY(-2px) scale(1.03);
}

.action-btn:active {
  transform: scale(0.95);
} 
